@font-face {
  font-family: "plus-jakarta-bold";
  src: url(./assets/fonts/PlusJakartaSans-Bold.ttf);
}

@font-face {
  font-family: "plus-jakarta-medium";
  src: url(./assets/fonts/PlusJakartaSans-Medium.ttf);
}

:root {

  /* headings */
  --heading-1-font-family: "plus-jakarta-bold";
  --heading-1-font-size: 56px;
  --heading-1-line-height: 70px;
  --heading-1-weight: bold;

  --heading-2-font-family: "plus-jakarta-bold";
  --heading-2-font-size: 40px;
  --heading-2-line-height: 51px;
  --heading-2-weight: bold;

  --heading-3-font-family: "plus-jakarta-bold";
  --heading-3-font-size: 32px;
  --heading-3-line-height: 40px;
  --heaing-3-weight: bold;

  --body-font-family: "plus-jakarta-medium";
  --body-font-size: 18px;
  --body-line-height: 28px;
  --body-weight: medium;

  /* colors */
  --light-cream: #FFF7F0;
  --medium-brown: #7A746E;
  --black: #030303;
  --purple: #552049;
  --cyan: #61C4B7;
  --light-red: #EB7565;
  --pink: #F39E9E;
  --summer-yellow: #F6A560;
  --galactic-blue: #755CDE;

  /* buttons */
  --button-border: 28px;
}

/* css reseter */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--light-cream);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* navbar */

.navbar__container {
  padding: 16px 16px 0px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
}

.navbar__items {
  list-style: none;
  display: flex;
}

.navbar__item {
  height: fit-content;
  width: fit-content;
}

.navbar__icon {
  height: 48px;
  width: 48px;
}

/* header */

.header__title {
  margin-top: 32px;
  width: 100%;
  text-align: center;
  padding: 0px 2% 0px 2%;
  font-family: var(--heading-1-font-family), sans-serif;
  line-height: 45px;
  font-weight: var(--heading-1-weight);
  font-size: 36px;
}

.header__title::first-letter {
  text-transform: uppercase;
}

.header__subtitle {
  width: 100%;
  text-align: center;
  padding: 0px 12% 0px 12%;
  font-family: var(--body-font-family), sans-serif;
  font-weight: var(--body-weight);
  line-height: var(--body-line-height);
  color: var(--medium-brown);
  margin: 16px 0px 35px 0px;
}

.header__subtitle::first-letter {
  text-transform: uppercase;
}

/* cards */
.cards__container {
  padding: 4%;
  display: grid;
  width: 100%;
  gap: 25px;
  display:grid;
  justify-items: center;
  grid-column: span 2;
}

.cards__card {
  height: 100px;
  width: 100px;
  background-color: #030303;
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
  padding: 0px 0px 25px 25px;
  background-repeat: no-repeat;
  background-position: 90% 20%;
  justify-items: center;
  grid-column:span 2;
  cursor: pointer;
}

.cards__card:nth-child(2), .cards__card:nth-child(3) {
  grid-column: span 1;
  width: 100%;
  height: 182px;
}

.cards__card__title {
  color: white;
  font-family: var(--heading-1-font-family), sans-serif;
}

.cards__card__title::first-letter {
  text-transform: uppercase;
}

#design {
  height: 364px;
  width: 100%;
  background-color: var(--galactic-blue);
  background-image: url(./assets/pattern-graphic-design.svg);
}

#ui_ux {
  background-color: var(--summer-yellow);
  background-image: url(./assets/pattern-ui-ux.svg);
}

#ui_ux .cards__card__title {
  text-transform: uppercase;
}

#apps {
  background-color: var(--pink);
  background-image: url(./assets/pattern-apps.svg);
}

#illustrations {
  width: 100%;
  height: 158px;
  background-color: var(--light-red);
  background-image: url(./assets/pattern-illustrations.svg);
}

#photography {
  width: 100%;
  height: 158px;
  background-color: var(--cyan);
  background-image: url(./assets/pattern-photography.svg);
}

#motion_graphics {
  width: 100%;
  height: 158px;
  background-color: var(--purple);
  background-image: url(./assets/pattern-motion-graphics.svg);
}

/* avatar */
.avatar__img {
  width: 100%;
  margin-top: 22%;
  padding: 0px 10%;
}

/* welcome */
.welcome__title {
  color: var(--black);
  text-align: center;
  font-family: var(--heading-2-font-family);
  font-weight: var(--heading-2-weight);
  font-size: 2em;
  padding: 0px 5%;
  margin-top: 10%;
}

.welcome__title::first-letter {
  text-transform: uppercase;
}

.welcome__paragraph {
  color: var(--medium-brown);
  font-size: var(--body-font-size);
  font-weight: var(--body-weight);
  font-family: var(--body-font-family);
  text-align: center;
  margin-top: 7%;
  padding: 0px 5%;
}

/* work */
.work__title {
  font-family: var(--heading-1-font-family), sans-serif;
  font-size: var(--heading-1-font-size);
  font-weight: var(--heading-2-weight);
  margin-top: 27%;
  text-transform: capitalize;
}

/* carrousel */
.carrousel__container {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  margin-top: 9%;
  overflow-x: scroll;
  padding: 0px 5%;
}

.carrousel__item {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.carrousel__item_hidden {
  display: none;
}

.carrousel__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5%;
  margin-top: 15%;
}

#carrousel__arrow_right {
  background-image: url(./assets/icon-arrow-left.svg);
  background-position: center;
  background-repeat: no-repeat;
}

#carrousel__arrow_left {
  background-image: url(./assets/icon-arrow-right.svg);
  background-position: center;
  background-repeat: no-repeat;
}

/* callme */
.callme__container {
  width: 90%;
  height: 500px;
  margin-top: 25%;
  background-color: var(--black);
  border-radius: 10px;
  padding: 5% 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.callme__title {
  color: white;
  font-size: 1.5em;
  text-align: center;
  font-family: var(--heading-1-font-family);
  font-weight: var(--heading-1-weight);
}

.callme__paragraph {
  color: white;
}

.callme__title::first-letter {
  text-transform: uppercase;
}

/* ui */
.ui__button_black {
  border-radius: var(--button-border);
  background-color: var(--black);
  color: white;
  border: none;
  padding-left: 27px;
  padding-right: 27px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: "plus-jakarta-bold", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  cursor: pointer;
  text-align: center;
}

.ui__small_button_black {
  border-radius: 50%;
  background-color: var(--black);
  color: white;
  border: none;
  height: 64px;
  width: 64px;
  font-family: "plus-jakarta-bold", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui__button_light_red {
  border-radius: var(--button-border);
  background-color: var(--light-red);
  color: white;
  border: none;
  padding-left: 27px;
  padding-right: 27px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: "plus-jakarta-bold", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin-top: 8%;
}

.ui__button_light_red::first-letter {
  text-transform: uppercase;
}

.ui__button_black::first-letter {
  text-transform: uppercase;
}

.ui__link {
  color: inherit;
  text-decoration: none;
}