.cards {
  display: grid;
  grid-template-areas:
    "gd gd"
    "gd gd"
    "uiux apps"
    "il il"
    "ph ph"
    "mg mg";
}

#gd {
  grid-area: gd;
  background: url(./assets/pattern-graphic-design.svg) #755cde 90% 10% no-repeat;
}

#ui_ux {
  background: url(./assets/pattern-ui-ux.svg) #f6a560 90% 10% no-repeat;
  grid-area: uiux;
}

#apps {
  background: url(./assets/pattern-apps.svg) #f39e9e 90% 10% no-repeat;
  grid-area: apps;
}

#il {
  background: url(./assets/pattern-illustrations.svg) #eb7565 90% 10% no-repeat;
  grid-area: il;
}

#ph {
  background-color: #61c4b7;
  grid-area: ph;
}
