* {
  transition: all ease 1s;
}

.cards {
  display: grid;
  grid-template-areas:
    "gd gd"
    "gd gd"
    "uiux apps"
    "il il"
    "ph ph"
    "mg mg";
}

#gd {
  grid-area: gd;
  background: url(./assets/pattern-graphic-design.svg) #755cde 90% 10% no-repeat;
}

#ui_ux {
  background: url(./assets/pattern-ui-ux.svg) #f6a560 90% 10% no-repeat;
  grid-area: uiux;
}

#apps {
  background: url(./assets/pattern-apps.svg) #f39e9e 90% 10% no-repeat;
  grid-area: apps;
}

#il {
  background: url(./assets/pattern-illustrations.svg) #eb7565 90% 10% no-repeat;
  grid-area: il;
}

#ph {
  background: url(./assets/pattern-illustrations.svg) #61c4b7 90% 10% no-repeat;
  grid-area: ph;
}

#mg {
  grid-area: mg;
  background: url(./assets/pattern-motion-graphics.svg) #552049 90% 10%
    no-repeat;
}

.carousel__container,
.carousel__imgs {
  transition: all ease 1s;
}

@media screen and (min-width: 760px) {
  .cards {
    grid-template-areas:
      "gd gd uiux apps"
      "gd gd il il"
      "ph ph mg mg";
  }
}

